# Build output
dist/

# Generated types / cache
.astro/
**/.cache/
**/.turbo/

# Dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.*.local

# OSX
.DS_Store

# IDE settings
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# Test coverage
coverage/
**/coverage/

# Optional lockfiles (if you vendor them)
# package-lock.json
# yarn.lock
# pnpm-lock.yaml

# Misc
*.log
*.bak
